# Core functionality - changes here should be rare!
/src/app.py                   @KelvinShan
/src/backend/database.py      @KelvinShan
/src/backend/routers/auth.py  @KelvinShan

# The frontend will need refactored soon to be more object oriented.
/src/static/   @KelvinShan
